/* .form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right:35%;
    top: 20px;
    color: blue;
} */

/* #wrapper {
    max-width: 940px;
   margin:0 auto;
   padding:0;
 }
 #KUNDE{ 
    padding: 10px 5px;
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #a4c3ca;
    background: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);  
 } */

 #showUserName:hover{
    background-color: black;
 }